.footer {
  background-color: aquamarine;
  padding: 0px;
  position: fixed;
  height: 80px;
  width: 100%;
  bottom: 0;
  margin-bottom: 0;
}

.navbarcontainer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 100%;
}

/* .current {
  border-radius: 1rem;
  padding: 2px 2px 2px 2px;
  background-color: white;
} */
