.footer {
  background-color: aquamarine;
  padding: 0px;
  position: fixed;
  height: 80px;
  width: 100%;
  bottom: 0;
  margin-bottom: 0;
}

.navbarcontainer {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
