.grid__profile--container {
  scroll-margin-top: 100px;
  display: grid;
  grid-template-areas:
    "photo photo"
    "title title"
    "about about"
    "friends posts";
}

.grid__profileitem {
  border: 3px solid #252629;
  border-radius: 1rem;
  border-radius: 0.5rem;
  background-color: white;
  margin: 5px;
}

.photo {
  grid-area: photo;
}

.profiletitle {
  grid-area: title;
}

.profilefriends {
  grid-area: friends;
}

.profileposts {
  grid-area: posts;
}

.profileabout {
  grid-area: about;
}
