.grid__profile--container {
  margin-top: 80px;
  display: grid;
  grid-template-areas:
    "photo ."
    "title title"
    "about about"
    "friends posts";
}

.grid__profileitem {
  border: 5px solid #252629;

  border-radius: 1rem;
  background-color: white;
  margin: 5px;
}

.profilephoto {
  grid-area: photo;
}

.profiletitle {
  grid-area: title;
}

.profilefriends {
  grid-area: friends;
}

.profileposts {
  grid-area: posts;
}

.profileabout {
  grid-area: about;
}
